%text-field {
  border: none;
  background: transparent;
  outline: none;
}

%form-button {
  border: none;
  text-indent: -99999px;
  padding: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  outline: none;
  &:hover {
    opacity: 0.75;
  }
}

%form-submit {
  @extend %form-button;
  background: url(../images/icon-sprite.png) no-repeat -5px -0px;
}

%form-reset {
  @extend %form-button;
  background: url(../images/icon-sprite.png) no-repeat -5px -37px;
}

@mixin theme-text-field($theme: light, $font-size: 14px, $padding: 8px 0) {
  @if $theme == 'dark' {
    border-bottom: 1px solid $theme-dark-font-color;
    color: $theme-dark-font-color;
  } @else {
    border-bottom: 1px solid $theme-light-font-color;
    color: $theme-light-font-color;
  }
  font-size: $font-size;
  padding: $padding;
}
