// Color set
$color-black: #222222;
$color-white: #FFFFFF;
$baseColor: #398B93;

$theme-light-font-color: $color-black;
$theme-dark-font-color: $color-white;
$theme-light-color: $color-white;
$theme-dark-color: $color-black;
