@import "compass/reset";
@import "compass/css3";
@import "variables";
@import "mixins";


// Global
* {
  box-sizing: border-box;
  transition: all 0.5s ease;
}
html, body {
  height: 100%;
}
body {
  color: $base-font-color;
  line-height: $base-line-height;
  font-size: $base-font-size;
  font-family: $base-font-family;
}
a {
  text-decoration: none;
  color: darken($baseColor, 5%);
  &:hover, &:focus, &:active {
    color: lighten($baseColor, 20%);
  }
}
h1 {
  font-size: 32px;
  line-height: 45px;
}
h2 {
  font-size: 30px;
  line-height: 40px;
}
section {
  padding: 20px 15px;
  overflow: hidden;
}
.table-responsive {
  width: 100%;
  overflow-x: scroll;
}
table {
  min-width: 700px;
  th {
    background: $baseColor;
    border: 1px solid $theme-dark-font-color;
    color: $theme-dark-font-color;
    font-size: 16px;
    padding: 10px;
    text-align: center;
  }
  tbody {
    tr {
      border: 5px solid $theme-dark-font-color;
      border-left: none;
      border-right: none;
      td {
        padding: 25px;
      }
      &:nth-child(odd) {
        background: lighten($baseColor, 55%);
      }
    }
  }
}
.hide {
  visibility: hidden;
  opacity: 0;
  width: 0;
}
.field-text {
  @extend %text-field;
  @include theme-text-field;
}
.form-submit {
  @extend %form-submit;
}
.form-reset {
  @extend %form-reset;
}

#page-title {
  display: none;
  color: $theme-dark-font-color;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 100px;
}

#main {
  height: 80%;
}

// Search
#search {
  background: $color-black;
  text-align: center;
  height: 100px;
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  form {
    width: 95%;
    max-width: 960px;
    @include flex(1);
    .form-wrapper {
      margin: auto;
      position: relative;
    }
    input {
      @include theme-text-field('dark', 30px, 0 100px 20px 0);
      width: 100%;
    }
    .form-actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      button:not(.hide) {
        margin-left: 10px;
      }
    }
  }
}

// Results
#results {
  display: none;
  table {
    width: 100%;
    th {
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        background: lighten($baseColor, 10%);
      }
      &.sort {
        background: lighten($baseColor, 20%);
        span {
          position: relative;
          padding-right: 25px;
          &:after {
            content: '';
            background: url(../images/icon-sprite.png) no-repeat -5px -74px;
            height: 20px;
            width: 20px;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            right: -5px;
            transition: all 0.25s ease;
          }
        }
      }
      &.sort-asc span:after {
        right: -5px;
        transform: translateY(-50%) rotate(180deg);
      }
      &.sort-desc {}
    }
    td.col-date {
      text-align: center;
      min-width: 170px;
    }
    td.col-title {
      min-width: 300px;
    }
  }
}

// No results
#results-empty {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  text-align: center;
  height: 100%;
}

.showing-results {
  #results {
    display: block;
  }
  #results-empty {
    display: none;
  }
}


// Default screen
.no-results {
  #page-title {
    display: block;
  }
  #search {
    height: 100%;
  }
  #main {
    display: none;
  }
}



// Responsive
@media (max-width: 767px) {
  body {
    line-height: $base-line-height-small;
    font-size: $base-font-size-small;
  }

  section {
    padding: 15px;
  }

  table {
    th {
      padding: 5px;
      font-size: $base-font-size;
    }
    tbody {
      tr {
        td {
          padding: 5px;
        }
      }
    }
  }

  #page-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 50px;
  }

  // Search
  #search {
    height: 70px;
    form {
      input {
        @include theme-text-field('dark', 16px, 0 60px 10px 0);
      }
      .form-actions {
        button:not(.hide) {
          margin-left: 0;
        }
      }
    }
  }

  // Results
  #results {
    table {
      th.sort {
        span {
          padding-right: 20px;
          &:after {
            transform: translateY(-50%) scale(0.75);
            right: -5px;
          }
        }
        &.sort-asc span:after {
          right: -5px;
          transform: translateY(-50%) rotate(180deg) scale(0.75);
        }
      }
      td.col-date {
        text-align: center;
        min-width: 120px;
      }
    }
  }
}
